$navbar-default-bg: #08088A;

@import "bootstrap-sprockets";
@import "bootstrap";


#logo {
  
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  
}

#circle {
  
  position: absolute;
    width: 200px;
    height: 200px;
    background: green;
    z-index: 50;
    top: 50%;
  left: 50%;
    -moz-border-radius: 100px;
    -webkit-border-radius: 50px;
    border-radius: 100px;
    margin: -100px 0 0 -150px;
    
}



#neworder {
  
  
  font-size: 1.9em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
   top: 50%;
  left: 50%;
  
}


#logo:hover {
  
    color: #fff;
    text-decoration: none;
  
}

.center {                  
  
  text-align: center;
  vertical-align: middle;
line-height: 200px;
  
}

.bkg{
  
  background-image: asset-url('Jasmine_Flowers');
}
